#menu_container{
    position: absolute;
    width: 100%;
    margin-top: 30rem;
    padding-left: 7rem;
}

#menu_content{
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFE3CC;
}

#menu-list{
    width: 230px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #FF7300;
    border-bottom: 1px solid #FF7300;
}

#menu-link{
    color: #FF7300;
}

#menu-link:hover{
    text-decoration:underline;
}

#donation-container{
    width: 100%;
    display: flex;
    justify-content: center;
}