.slider img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    
}
.slider div {
    text-align: center;
    overflow: hidden;
}

.slider{
    padding-top: 50px;
    /* height: 30rem; */
}

.slide_margin{
    width: 500px;
}

#position_slide{
    display: flex;
    justify-content: center;
    height: 350px;
}

#pqadotar_img{
    height: 260px;
}