{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">

    <!-- slider de imagem -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{% static 'js/home_page.js' %}" defer></script>

    <!-- TITULO DAS JANELAS NO NAVEGADOR -->
    <title> {% block page_title %}{% endblock page_title %} </title>

</head>

{% block menu %}
{% endblock menu %}

<!-- HEADER -->
<header id="main_header">
    <img id="logo" src="static/img/assets/logo.svg">
    <div id="social_container">
        <a href="https://www.instagram.com/caosemdono.oficial/"><img class="social" src="static/img/social_img/instagram.svg"></a>
        <a href="https://www.facebook.com/caosemdono"><img class="social" src="static/img/social_img/twitter.svg"></a>
        <a href="https://x.com/caosemdono"><img class="social" src="static/img/social_img/facebook.svg"></a>
        <a href="https://www.tiktok.com/@caosemdono.oficial"><img class="social" src="static/img/social_img/tiktok.svg"></a>
    </div>
</header>

<body>

    <section class="section_container">
        <!-- CONTEUDO DA PAGINA -->
        {% block page_content %}
        {% endblock page_content %}
    </section>
    
</body>

<!-- FOOTER -->
<footer class="footer">
    <img id="logo" src="static/img/assets/logo.svg">
    <p class="footer_text">© 2022 por Cão Sem Dono.</p>
    <p class="footer_text">Clinica Veterinária Popular CSD: Rua Honório Serpa, 259 -Jardim Vergueiro, SP</p>
    <p class="footer_text">PIX: 10.157.938/0001-73</p>
</footer>
</html>