{% extends 'core/base.html' %}
{% load static %}


{% block page_title %}
    Contato
{% endblock page_title %}


{% block menu %}
<!-- MENU -->
<section id="menu_container">
    <div id="menu_content">
        <ul id="menu-list">
            <a id="menu-link" href="/">Início</a>
            <a id="menu-link" href="/">Garoto, a espera de 10 anos</a>
            <a id="menu-link" href="/">Quem somos</a>
            <a id="menu-link" href="/">O sítio</a>
            <a id="menu-link" href="/">Porque adotar?</a>
            <a id="menu-link" href="/">Adoções e apadrinhamento</a>
            <a id="menu-link" href="/team">Nossa equipe</a>
            <a id="menu-link" href="/clinic">Clínica</a>
            <a id="menu-link" href="/volunteers">Voluntários</a>
            <a id="menu-link" href="#">Contato</a>
            <div id="donation-container">
                <a class="btn" href="">DOAÇÃO</a>
            </div>
        </ul>
    </div>
</section>
{% endblock menu %}


{% block page_content %}

<div class="main_title_container" id="secondary_title">
    <p class="subtitle">Contato</p>
</div>

<section class="section_container">
    <div class="section_content_container two_side_container">

        <div class="block_container" id="equipes_container">

            <p class="orange_title" id="orange_title_contact">Endereço dos nossos abrigos</p>
            <div class="block_1">
                <p class="text_1" id="equipes_text">
                    Não divulgamos publicamente o endereço de nossos abrigos.
                    Lamentavelmente o número de abandonos em nossas portas ainda é alto.
                    Para aqueles que abandonam seus animais, informamos que instalamos câmeras de
                    segurança em todos os nossos espaços
                </p>
            </div>

            <p class="orange_title" id="orange_title_contact">Clínica Veterinária Popular Cão Sem Dono</p>
            <div class="block_1" id="contact">
                <p class="text_1" id="text_contact">Rua Honório Serpa, 259, Jardim Vergueiro, SP clinica@caosemdono.com.br</p>
                
            </div>
            
            <p class="text_1" id="sub_text_contact">Observação: No momento não estamos realizando resgates solicitados por e-mail ou telefone.</p>
            <p class="text_1" id="sub_text_contact">Para casos emergenciais, ligue para o número 156 (Prefeitura de São Paulo).</p>
        </div>

        <div class="block_container" id="equipes_container">

            <p class="orange_title" id="orange_title_contact">Bazar Permanente da ONG</p>
            <div class="block_1 clinic" id="contact">
                <p class="text_1" id="text_contact">Rua Vitor Emanuel, 200, Sacomã, SP</p>
                <p class="text_1" id="text_contact">Aberto de segunda a sexta-feira das 9 às 18 horas</p>
                <p class="text_1" id="text_contact">Sábados, das 9 às 13 horas.</p>
                <p class="text_1" id="text_contact">Para doar: faleconosco@caosemdono.com.br</p>
            </div>

            <p class="orange_title" id="orange_title_contact">Contatos por e-mail</p>
            <div class="block_1 " id="emails_contact">
                <p class="text_1" id="text_contact">Fale com o Presidente: rafael@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Geral: faleconosco@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Apadrinhamento: apadrinhamento@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Adoção de Animais: valeria@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Espaço para eventos: aline@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Doações: faleconosco@caosemdono.com.br</p>
                <p class="text_1" id="text_contact">Reclamações e sugestões: rafael@caosemdono.com.br</p>
            </div>
        </div>
    </div>
</section>

{% endblock page_content %}
