#wide_block{
    background-color: #fff;
    box-shadow: 0px 20px 0px 0px#FFD4B0;
    width: 95%;
    height: 230px;
    border-radius: 20px;
}

#wide_title{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #FF7300;
}

#text_wide_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 50px;
}

.wide_text{
    text-align: justify;
    width: 300px;
}