#success_message_container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

#container_content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
}

#success_img{
    width: 100px;
}

#message_text{
    color: #FF7300;
    font-size: 30px;
    text-align: center;
}

#redirect{
    color: #FF7300;
    border-bottom:3px solid #ffa962;
}